Content-Type/Accept headers are not handled properly in REST API

<!--
If this is a bug report please fill out the template below.

If this is a feature request please describe the behavior that you'd like to see.
-->

**Environment**:

- CTFd Version/Commit: 3.1.1 (Latest Docker image was used, sha256: 4f14fb759381ae6f29c159cf8285f01f4b05210d79c850ca20af40b2e596cd6d)
- Operating System: Debian Buster (server) 
- Web Browser and Version: cURL / requests 2.22.0 / Firefox Developer Edition 82.0b9 

**What happened?**

When using access tokens for retrieving information from the REST API with GET requests, server seems to accept only `Content-Type` header before providing response in JSON format. 

Also case seems matter -  capitalized values are not accepted. (however, only field names are case-sensitive by spec)


**What did you expect to happen?**

Since GET requests do not have request body, `Accept` header should be possible to use and then it should be supported on the server side.


**How to reproduce your issue**

Example case about retrieving user information:

**Does not work**:
```
curl -isSL "baseurl/api/v1/users/me" -H "Authorization: Token `cat token.txt`" -H "Accept: application/json"
```
**Works**

```
curl -isSL "baseurl/api/v1/users/me" -H "Authorization: Token `cat token.txt`" -H "Content-Type: application/json"
```



I'm not sure I agree here but someone could prove me wrong. The `Accept` header is to tell the server what responses the client supports, not to define what content type is being sent. Even though there is no body, you should still be sending JSON requests to the API. I don't think `Accept` is a suitable replacement for `Content-Type`. 

There could be an argument for removing the Content-Type check altogether but I would need to see compelling evidence to do that. But I don't think substituting `Accept` for `Content-Type` is right. 

As for the case-sensitivity, you would likely need to take that up with Flask. CTFd just checks [`request.content_type`](https://flask.palletsprojects.com/en/1.1.x/api/#flask.Request.content_type). 

> I'm not sure I agree here but someone could prove me wrong. The Accept header is to tell the server what responses the client supports, not to define what content type is being sent. Even though there is no body, you should still be sending JSON requests to the API. I don't think Accept is a suitable replacement for Content-Type.

That was indeed my point - Accept header should be used by client to tell for server, that it want's JSON as response. 
Reference to Mozilla's doc in [here.](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)

As in response, server tells what it chose with `Content-Type` header in response.

And what is happening here; GET request is used to acquire information from the server. You cannot send body with GET request, so `Content-Type` header has no point in here - and we want `JSON` in response, so `Accept` header should be used. `JSON` is data format, which goes in body (not request type), so in case you want to use it for discussing for the server, request type should be changed for `POST` for example and use `JSON` as body data format.

> As for the case-sensitivity, you would likely need to take that up with Flask. CTFd just checks request.content_type.

I was especially referring to content value - not type.

I dug around into this and found  a few things. 

## Accept vs Content-Type

I found that Accept is an optional header. (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1). 
CTFd is only really going to respond with JSON so I don't think we should necessarily care about Accept. If anything it would just mean we should respond with 406 if Accept isn't `application/json`. 

I did more digging and I see that you mean that GET requests do not have to have a Content-Type. However it's not necessarily against RFC to require it on GET requests. Maybe a little in poor taste but I don't think it's egregious. I also think it may even be a fair interpretation of the RFC here. https://tools.ietf.org/html/rfc7231#section-3.1.1.5

```
   A sender that generates a message containing a payload body SHOULD
   generate a Content-Type header field in that message unless the
   intended media type of the enclosed representation is unknown to the
   sender.  If a Content-Type header field is not present, the recipient
   MAY either assume a media type of "application/octet-stream"
   ([RFC2046], Section 4.5.1) or examine the data to determine its type.
```

The above quote reads to me that if there's a payload body, the client SHOULD set a Content-Type. However now if Content-Type isn't present either we assume "application/octet-stream" or examine the data to determine type. There is no data but yet we are never going to accept "application/octet-stream" so why assume that. 

I would say at worst this is a mistake in robustness and at best it's just a minor caveat of the API since you will very likely at some point send an API request with `application/json`. 

I also think that requiring Content-Type to be `application/json` helps deal with some kinds of CSRF issues although browsers in my experience have completely disrespected that but the point is worth mentioning. 

I don't particularly see this as a pressing issue but perhaps it will be resolved in a future major release. I don't particularly think it's worth it though. 

## Content Type Insensitivity

Content Type according to RFC should be case insensitive.

https://tools.ietf.org/html/rfc2045#section-5.1
https://tools.ietf.org/html/rfc7231#section-3.1.1.1

However there are a few projects and issues that suggest that lowercase Content-Type value is a de-facto standard so I'm not very inclined to make this chance myself. 
https://github.com/OxalisCommunity/oxalis/issues/219
https://github.com/aws/chalice/blob/c3d26153c6c62485635754f046426907ebc378cf/chalice/app.py#L426

I don't really see this as a particularly big concern but if someone wants to PR it in I guess the code would conform to the RFC better? Again, I don't particularly think it's worth it.


I think I should have mention why i created this issue in the first hand, this is my bad.

I had problem for using the REST API with tokens, as I initially tried to make requests without any headers. (I could not find documentation)
Regardless of what I did, the API did not return the response in JSON, instead it responded with redirection with HTML for login page.

Finally, I figured out that `Content-Type` header should be set, based on the CLI code. This was bit inconvenient, as GET request had no body. So, usually in cases like this `Accept` header is usually used.

That is why I though this should be fixed.


might be useful
kind of ugly though

https://gist.github.com/frankli0324/c91ab94ce4f7c2a1d34c57f09bc36604